USE [WalletManagementDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26.02.2026 09:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.02.2026 09:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 26.02.2026 09:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Wallets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WalletTransactions]    Script Date: 26.02.2026 09:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WalletTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WalletId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [nvarchar](max) NOT NULL,
	[ReferenceId] [nvarchar](450) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WalletTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260219131731_InitialCreate', N'8.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260219133221_RenameTransactionsTable', N'8.0.24')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [CreatedDate]) VALUES (1, N'gorcumbuse', N'gorcumbuse@gmail.com', N'$2a$11$Vsvth88a90mp5S9TFVP.2ez5xhyX/AViJhcsH1eg1C283Ac632vPK', CAST(N'2026-02-20T15:28:24.3351883' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [CreatedDate]) VALUES (2, N'ugurcankadi', N'kadiUgurcan@gmail.com', N'$2a$11$Kur2Krj2w4ww2irN7OaVGekahJbmk/tyiHjMsGOIuJ/LqhiOneM.S', CAST(N'2026-02-20T16:39:41.9691207' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([Id], [UserId], [Balance], [Currency], [CreatedDate], [IsDeleted]) VALUES (1, 1, CAST(300.00 AS Decimal(18, 2)), N'TRY', CAST(N'2026-02-20T15:44:05.9011311' AS DateTime2), 0)
INSERT [dbo].[Wallets] ([Id], [UserId], [Balance], [Currency], [CreatedDate], [IsDeleted]) VALUES (2, 2, CAST(2550.00 AS Decimal(18, 2)), N'TRY', CAST(N'2026-02-20T16:41:44.4185805' AS DateTime2), 0)
INSERT [dbo].[Wallets] ([Id], [UserId], [Balance], [Currency], [CreatedDate], [IsDeleted]) VALUES (3, 2, CAST(550.00 AS Decimal(18, 2)), N'TRY', CAST(N'2026-02-24T16:32:58.9649991' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
SET IDENTITY_INSERT [dbo].[WalletTransactions] ON 

INSERT [dbo].[WalletTransactions] ([Id], [WalletId], [Amount], [TransactionType], [ReferenceId], [CreatedDate]) VALUES (1, 1, CAST(500.00 AS Decimal(18, 2)), N'deposit', N'REF1001', CAST(N'2026-02-20T15:46:12.6766667' AS DateTime2))
INSERT [dbo].[WalletTransactions] ([Id], [WalletId], [Amount], [TransactionType], [ReferenceId], [CreatedDate]) VALUES (2, 1, CAST(200.00 AS Decimal(18, 2)), N'withdraw', N'REF-OUT-001', CAST(N'2026-02-20T16:35:40.0366667' AS DateTime2))
INSERT [dbo].[WalletTransactions] ([Id], [WalletId], [Amount], [TransactionType], [ReferenceId], [CreatedDate]) VALUES (3, 2, CAST(1000.00 AS Decimal(18, 2)), N'deposit', N'T2-D1', CAST(N'2026-02-20T16:43:13.1333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[WalletTransactions] OFF
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_Users_UserId]
GO
ALTER TABLE [dbo].[WalletTransactions]  WITH CHECK ADD  CONSTRAINT [FK_WalletTransactions_Wallets_WalletId] FOREIGN KEY([WalletId])
REFERENCES [dbo].[Wallets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WalletTransactions] CHECK CONSTRAINT [FK_WalletTransactions_Wallets_WalletId]
GO
/****** Object:  StoredProcedure [dbo].[DeleteWalletSP]    Script Date: 26.02.2026 09:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteWalletSP]
    @WalletId INT,
    @UserId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Wallets WHERE Id = @WalletId AND UserId = @UserId AND Balance = 0)
    BEGIN
        UPDATE Wallets SET IsDeleted = 1 WHERE Id = @WalletId AND UserId = @UserId;
        SELECT 1 AS Result;
    END
    ELSE
    BEGIN
        SELECT 0 AS Result;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[WalletTransactionSP]    Script Date: 26.02.2026 09:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WalletTransactionSP]
    @WalletId INT,
    @Amount DECIMAL(18,2),
    @Type NVARCHAR(20),
    @ReferenceId NVARCHAR(100)
AS
BEGIN
    
    BEGIN TRANSACTION; 
    BEGIN TRY
        IF @Type = 'deposit'
            UPDATE Wallets SET Balance = Balance + @Amount WHERE Id = @WalletId;
        ELSE IF @Type = 'withdraw'
            UPDATE Wallets SET Balance = Balance - @Amount WHERE Id = @WalletId;

        INSERT INTO WalletTransactions (WalletId, Amount, TransactionType, ReferenceId, CreatedDate)
        VALUES (@WalletId, @Amount, @Type, @ReferenceId, GETDATE());

        COMMIT TRANSACTION; 
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; 
        THROW;
    END CATCH
END
GO
